    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        background-color: #0c1524;
        /* padding-top: 80px; */
    }

 

    #header{
        position:fixed;
        z-index:1;
        width:100%;
    }
    #close:hover{
        cursor: pointer;
        background-color: red;
    }

    #img{
        height: 400px;
        border-radius: 15px;
    }

    #eve{
        font-size: 3rem;
        font-weight: bold;
        color: white;
    }


    @media(max-width:780px){
         #story{
        height: auto;
        display: flex;
        flex-direction: column;
        
    }
    #bod{
        width: 100%;
    }
        
    }
   

    #cpre:hover{
        cursor:pointer ;
        background-color:pink;
    }

      
 #hlink:hover{
    color: blue;
 }

 #logo{
    width: 200px;
    height: 80px;
    border-radius: 15px;
 }

 .cpre {
            transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
            cursor: pointer; /* Changes mouse to pointer */
        }

        .cpre:hover {
            transform: scale(1.1); /* Increases size by 10% */
            box-shadow: 0 10px 20px rgba(0,0,0,0.3); /* Optional: Adds a shadow for depth */
            z-index: 10; /* Ensures the card pops on top of others */
        }